<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume - Analytics</title>
  <link rel="icon" href="https://novoresume.com/images/media_kit/colorful-simple-logo.png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 text-dark">

  <!-- Navbar -->
  <nav class="p-4 bg-blue-900 shadow-md">
    <div class="flex items-center justify-between max-w-screen-xl px-16 mx-auto">
      <h1 class="text-2xl font-semibold text-white"><a href="/" class="text-white">SwiftCv - Resume Builder</a></h1>
      <div class="flex space-x-4">
        <a href="/" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-yellow-500">Home</a>
        <a href="/profile" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-yellow-500">Profile</a>
        <a href="/view-analytics" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-yellow-500">Analytics</a>
        <% if (user && user.role !== 'user') { %>  
          <a href="/admin" class="px-4 py-2 text-sm text-white duration-300 ease-in-out border-b rounded hover:text-yellow-400">⚡Admin Dashboard </a>
       <% } %>
        
       <a href="/logout" class="px-4 py-2 text-sm text-white duration-300 ease-in-out rounded hover:bg-red-500">Logout</a>
      </div>
    </div>
  </nav>

  <!-- Settings Section -->
  <section class="max-w-screen-xl px-20 py-8 mx-auto">
    <h2 class="mb-4 text-2xl font-semibold text-gray-800">Face Data Records</h2>

    <!-- Table for displaying data -->
    <table class="min-w-full overflow-hidden bg-white rounded-md shadow-md">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 text-left border-b">S.No</th>
          <th class="px-4 py-2 text-left border-b">Status</th>
          <th class="px-4 py-2 text-left border-b">generated</th>
          <th class="px-4 py-2 text-left border-b">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td class="px-4 py-2 border-b"><%= user.Sno %></td>
                <td class="px-4 py-2 border-b"><%= user.status %></td>
                <td class="px-4 py-2 border-b">
                    <!--iframe src="/image/<%= user.generated %>" frameborder="10" width="50" onerror="this.style.display='none'"></iframe-->
     </td>                  
                <td class="px-4 py-2 border-b"><%= user.time %></td>
            </tr>
        <% }) %>
    </tbody>
      
      
</table>
</section>

</body>
</html>
